[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = git://github.com/so-fancy/diff-so-fancy.git
[submodule "rtw89"]
	path = rtw89
	url = git@github.com:lwfinger/rtw89.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
